@import '@vuepic/vue-datepicker/dist/main.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../node_modules/flowbite-datepicker";

@layer components {
    .hoverText {
        @apply duration-200 ease-linear transition-colors hover:text-secondary-purple;
    }
}
@layer utilities {
    .grid-areas-template {
        @apply grid-cols-1 grid-rows-[min-content_min-content_minmax(0,_40px)_min-content_auto];
        grid-template-areas:
      "labels"
      "image"
      "category"
      "name"
      "status"
      "prices-buttons";
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    background-color: #1E1E1E !important; /* Фон в цвет темы */
    -webkit-text-fill-color: #fff !important; /* Цвет текста */
    caret-color: #fff !important; /* Цвет курсора */
}

.pagination .active span {
    @apply bg-purple-600 text-white border-purple-600;
}

.pagination a {
    @apply text-gray-700 hover:text-purple-600;
}
